@import "../main/main"

.president
    h2
        font-weight: bold
    &__container
        padding: 30px 100px
        display: flex
        align-items: center
        justify-content: center

        p
            margin: 0 0 0 50px
            font-size: 22px
            text-align: justify

        img
            width: 400px

    @media screen and (max-width: 1000px)
        &__container
            padding: 30px 40px
            flex-direction: column

            p
                text-align: left
                margin: 20px 0 0 0
            img
                width: 100%
